<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831283984513-o4828333uru8d2nimoq2hrjne1m2oda6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831283984513-o4828333uru8d2nimoq2hrjne1m2oda6</string>
	<key>API_KEY</key>
	<string>AIzaSyA4jjFUvnN5JPIkwqEcfBT7z_7PqHiW_6g</string>
	<key>GCM_SENDER_ID</key>
	<string>831283984513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expandcart.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-c5340</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-c5340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831283984513:ios:9d98d5cb53075af88bb580</string>
</dict>
</plist>